{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Shows {% endblock %}</h1>
    <div class="content">
        {% for show in shows %}
            <div class="show">
                <p><b>#{{ show.show_id }}</b></p>
                <b>
                    <p class="title">{{ show.title }}</p>
                </b>
                <p>{{ show.type }}</p>
                <p>Rating: {{ show.rating }} </p>
                <p>Released: {{ show.release_year }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}